@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.gradient-text, .gradient-when-hover:hover {
    background: linear-gradient(-45deg, #6BC5F8, #CF59E6, #6BC5F8, #CF59E6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;

    font-weight: bold;
}

.animated-link {
    transition: all .2s ease-in-out;

    margin-left: 10px;
    padding: 5px 3px;
    display: inline-block;

    box-shadow: inset 0 -3px 0 #6BC5F8;

    cursor: pointer;
    text-decoration: none;
}

.animated-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #6BC5F8;
    box-shadow: inset 0 -33px 0 0 #6BC5F8;
    color: #FFFFFF;
}